/* 
Reference: https://www.w3schools.com/howto/howto_css_cards.asp
determines card effects. Shadow effect, size, styling and mouse hover modified */
.card {
  box-shadow: 0 6px 3px 0 #536473;
  transition: 0.3s;
  width: 30%;
  min-height: 640px;
  margin: 12px;
}

/* controlls the card effect when user hovers over each card */
.card:hover {
  box-shadow: 0 20px 16px 0 #283040, 0 17px 50px 0 #536473;
}
/* adds padding to the cars*/
.box {
  padding: 2px 14px;
}

/* determines size of image on the cards */
.card img {
  align-content: center;
  width: 100%;
  height: 340px;
  object-fit: cover;
}

/* Reference: https://www.w3schools.com/css/css_float.asp
Aligns 3 images side by side, modified alignment. */
.card {
  float: left;
  width: 28.5%;
  padding: 10px;
  background-color: #283040;
}

/* Reference: https://www.w3schools.com/howto/howto_css_flip_card.asp
determines color, position and size. Modified positioning, style and design */
.flipImage {
  background-color: transparent;
  width: 360px;
  height: 340px;
  position: relative;
  left: 66%;
  top: 1400px;
}

.flipImage-inner {
  width: 390px;
  height: 620px;
  transition: transform 0.4s;
  transform-style: preserve-3d;
}

/* flips image 180 degrees when user hover over the image */
.flipImage:hover .flipImage-inner {
  transform: rotateY(180deg);
}

/* positions back and front of image */
.flipImage-front,
.flipImage-back {
  position: absolute;
  width: 390px;
  height: 620x;
  backface-visibility: hidden;
}

/* flips image back 180 degrees */
.flipImage-back {
  transform: rotateY(180deg);
  width: 390px;
  height: 620px;
  background-color: #283040;
}

/* flipped image reveals hidden a hidden message */
#hiddenText {
  text-align: center;
  color: white;
  font-style: italic;
  font-size: 1.25em;
  position: relative;
  top: 150px;
}

/* determines size of image */
.flipImage img {
  width: 390px;
  height: 620px;
}
/* Reference: https://www.w3schools.com/css/css_float.asp */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* styling of titles, body and main */
#title {
  clear: left;
  border: 5px solid #bf0404;
  background-color: #bf0404;
  text-align: center;
  color: white;
}

/* added padding and margins to main section */
main {
  margin: 25px;
  padding: 15px;
  text-align: left;
}

/* determines font type, style and size of paragraphs and headings */
#titleContainer_att {
  border: 5px solid #536473;
  text-align: center;
  background-color: #536473;
  padding: 10px;
  margin-top: 114px;
}

h1 {
  font-size: 90px;
}

h2 {
  font-size: 45px;
}

h3 {
  color: #bf0404;
  font-weight: bolder;
  letter-spacing: 1.5px;
  font-size: 1.99em;
  font-weight: bold;
  font-style: italic;
  text-align: left;
}

p {
  font-size: 1.3em;
  font-family: Arial;
  color: white;
}

.mainSection {
  background-color: #8198a6;
  margin: 0;
  color: #ffffff;
  text-align: left;
}

* {
  font-family: "Odibee Sans", cursive, Arial, sans-serif;
}

/* addds padding and background colour to body */
body {
  background-color: #536473;
  margin: 0;
  color: #ffffff;
}
