/* .UNDERWORLD-1-hex { color: #8C030E; }
.UNDERWORLD-2-hex { color: #283040; }
.UNDERWORLD-3-hex { color: #536473; }
.UNDERWORLD-4-hex { color: #8198A6; }
.UNDERWORLD-5-hex { color: #BF0404; */

* {
  font-family: "Odibee Sans", Times, serif;
  letter-spacing: 1.5px;
  line-height: 1.1em;
}

body {
  background-color: #536473;
  margin: 0;
  color: #ffffff;
}

main {
  width: 100%;
  margin: auto;
  margin-top: 80px;
  padding-top: 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  display: flex;
  justify-content: space-between;
}

footer {
  background-color: #8198a6;
  padding: 5px;
  margin-top: 2px;
  text-align: center;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.7em;
}

p {
  font-size: 1.3em;
}

.extra-foot p {
  margin: 0px;
  font-size: 14px;
  text-align: left;
}
.extra-foot address {
  text-align: left;
  font-size: 14px;
}
.navBar {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1.5em 1em;
  background-color: #283040;
  transition: top 0.5s ease-in-out;
}

.navBar ul {
  list-style: none;
  display: flex;
  width: 50%;
  justify-content: flex-end;
}

.navBar li {
  font-size: 24px;
  font-weight: bold;
}

.navLink {
  color: #ffffff;
  text-shadow: 1px 1px rgb(172, 164, 164);
  text-decoration: none;
  padding: 0.5em 1em;
  margin: 0 5px;
}

.navLink:hover {
  font-size: 23px;
  border-bottom: 2px #fa4d31 solid;
}

.buy-btn {
  background-color: #bf0404;
  color: #ffffff;
  padding: 0.5em 1em;
  font-size: 24px;
  font-weight: bold;
  border: none;
  border-radius: 0.5em;
}

.buy-btn:hover {
  background-color: #fa4d31;
}

.container {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.logo {
  height: 50px;
  width: 200px;
  /*    background-color: #ffffff;*/
  padding: 0.5em 1em;
}

#active {
  font-weight: bolder;
  border-bottom: 1px solid#0307ff;
}

#active:hover {
  border-bottom: none;
}

#titleContainer {
  top: 0;
  left: 0;
}

#image-slider {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.image-slider-element {
  margin: 0 1em;
}

.important-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.1rem;
}

.important-links ul {
  list-style: none;
}
.website-links {
  text-align: right;
}
.website-links ul > li {
  margin: 0.1em;
  font-family: "Times New Roman", Times, serif;
}

.small-logo {
  height: 40px;
  width: 150px;
}

.bottom-links {
  color: #ffffff;
  text-decoration: none;
}

.bottom-links:hover,
.social-media-links li > a:hover {
  border-bottom: 2px #fa4d31 solid;
}

.social-media-links {
  font-size: 1.6rem;
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.social-media-links li > a {
  color: #ffffff;
}
.social-media-links li > a:hover {
  border: 2px solid #ffffff;
  border-radius: 20%;
  padding-top: 2px;
}
form {
  border: 1px solid black;
  box-shadow: 1px 2px 2px 1px gray;
}
