/* .UNDERWORLD-1-hex { color: #8C030E; }
.UNDERWORLD-2-hex { color: #283040; }
.UNDERWORLD-3-hex { color: #536473; }
.UNDERWORLD-4-hex { color: #8198A6; }
.UNDERWORLD-5-hex { color: #BF0404; */

* {
  font-family: "Odibee Sans", cursive, Arial, sans-serif;
}

body{
  background-color: #536473;
  margin: 0;
  color: #ffffff;
}

main {
  width: 100%;
  margin: auto;
  margin-top: 80px;
  padding-top: 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navBar {
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: red;
  padding: 10px;
  background-color: #283040;
}
.navBar ul {
  list-style: none;
  display: flex;
  width: 50%;
  justify-content: space-evenly;
}
.navBar li {
  margin-right: 10px;
  font-size: 24px;
  font-weight: bold;
}

.navLink {
  color: rgb(71, 55, 55);
  text-shadow: 1px 1px rgb(172, 164, 164);
  text-decoration: none;
}

.navLink:hover {
  font-size: 25px;
  border-bottom: 1px solid gray;
}

.container {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.logo {
  height: 60px;
  width: 160px;
}

#active {
  font-weight: bolder;
  color: hotpink !important;
}

#titleContainer {
  top: 0;
  left: 0;
}
